# macOS 관련 파일
.DS_Store
.AppleDouble
.LSOverride

# Windows 관련 파일
Thumbs.db
ehthumbs.db

# IDE 및 에디터 설정 파일
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 로그 파일 및 임시 파일
*.log
*.tmp
tmp/
cache/
*.bak

# 빌드 결과물 (필요에 따라)
dist/
build/

# Node 및 패키지 관련 (만약 루트에 생성되는 경우)
node_modules/

# 기타, 프로젝트 루트에 생성될 수 있는 파일들
*.swp

# docker 관련
docker-compose.override.yml
docker-compose.prod.yml
docker-compose.dev.yml
docker-compose.test.yml
docker-compose.local.yml